{% extends "base.html" %}

{% block body_block %}

<div class='container' style='margin-top:8%'>
    
    <h3>{{title}}</h3><br>
    <div  style="background-color: rgba(30, 30, 30, 0.295); height: 100%;"> 
        <form method="post" enctype="multipart/form-data" >
            <div class="m-3">
                <label for="id_file"></label>
                <div class='row '><div class = "col-md-4"><p style="color: aliceblue;"  class='form-label'>Upload File</p> {{ form.file }} <br> </div></div>
                <button class="btn" style = "background-color: rgb(155, 155, 155) " type = "submit" >Upload</button><br>
                {% csrf_token %}
            </div>
        </form>
    </div>

    
</div>

{% endblock body_block %}