{% extends "base.html" %}

{% block body_block %}

<style>
    .list-group {
        list-style: none;
        padding-left: 0;
      }
      
      .list-group-item {
        border: none;
        border-radius: 0;
      }
</style>


{{message_tag}}

<div class='container' style='margin-top:8%'>
    {% if messages %}
    <!-- Loop through each message -->
        {% for message in messages %}
            <!-- Check if the message is a success message -->
            {% if message.tags == 'success' %}
            <div class="alert alert-success">
                <!-- Display the message content -->
                {{ message }}
            </div>

            {% elif message.tags == 'error' %}
            <div class="alert alert-danger">
                <!-- Display the message content -->
                {{ message }}
            </div>

            {% else %}
            <div class="alert alert-info">
                <!-- Display the message content -->
                {{ message }}
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    
    <div class='panel panel-default'>
        <div class='panel-body'>
            <h3>Select which model to use</h3><br>
            <ul class="list-group ">
                <li class="list-group-item">  <a href="cultivated_or_not/">cultivated_or_not</a><br></li>
                <li class="list-group-item">  <a href='rice_classification/'>rice_classification</a><br></li>
                <li class="list-group-item">  <a href='stages_of_paddy/'>stages_of_paddy</a><br></li>
                <li class="list-group-item">  <a href='substandard_or_not/'>substandard_or_not</a><br></li>
            
            </ul>
        </div>
    </div>
   
</div>
{% endblock  %}
